<div class="card" style="width: 18rem; margin-left: auto; margin-right: auto; margin-top: 30px;" >
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">id : {{newRide._id}}</li>
      <li class="list-group-item bg-light">Name : {{newRide.r_name}}</li>
      <li class="list-group-item bg-light">Departure Time : {{newRide.departure_time}}</li>
      <li class="list-group-item bg-light">From : {{newRide.From}}</li>
      <li class="list-group-item bg-light">To : {{newRide.To}}</li>
      <li class="list-group-item bg-light">Rate : {{newRide.rate}}</li>
      <li class="list-group-item bg-light">Date : {{newRide.date}}</li>
      <li class="list-group-item bg-light">Contact : {{newRide.contact}}</li>
      <li class="list-group-item bg-light">email : {{newRide.email}}</li>
    </ul>

    
  </div>

  <div style="width: 18rem; margin-left: auto; margin-right: auto; margin-top: 30px;">
    <button  (click) = "delete();" class="list-group-item bg-light">Delete</button>
  </div>
  
