<div class="card mb-3" style="max-width: 540px;" style="width: 100%; margin-left: auto; margin-right: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../assets/Ride_share_icon.jpg" alt="" style="width: 100%;">
    </div>
    <div class="col-md-8" style="width: 50%;">
      <div class="card-body">
        <h1 class="card-title">Don't be a fool</h1>
        <h1 class="card-title">Ride in a carpool</h1>
        <h3 class="card-text" style="color:darkgray;">It's better to share resources to save our planet.</h3>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body text-muted" style="padding: 5%; font-size: 20px;">
    <strong>
      Rideshare is also socially economical. Not only will you be saving, but you will also help reduce the costs we
      all pay towards the road maintenance and air pollution related health costs. Having fewer cars on the road means
      reduced Greenhouse Gas (GHG) emissions and improved air quality.
    </strong>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <app-home-list></app-home-list> -->